@model BMIIndex
@{
    ViewData["Title"] = "BMIIndex";
}
<form asp-controller="BMI" asp-action="Index" method="post">
    <div class="row">
        <div class="from-group col-sm-6">
            <label asp-for="Height"></label>
            <input asp-for="Height" class="form-control" />
            <span asp-validation-for="Height" class="text-danger"/>
        </div>
        <div class="form-group col-sm-6">
            <label asp-for="Weight"></label>
            <input asp-for="Weight" class="form-control" />
            <span asp-validation-for="Weight" class="text-danger" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Result"></label>
        <input asp-for="Result" class="form-control" readonly value="@Model.Result" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-warning">Result</button>
    </div>
</form>
